header, h1, h2{
    font-family: 'Georgia', Times, 'Times New Roman', 'serif';
}

p, a{
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

body{
    background-image: url(../images/spikes.png);
    background-repeat: repeat;
    background-color: #ffffff;
}

header{
    width: 960px;
}
h2{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
    width:260px;
    float: left;
    
}

nav{
    float: right;
    background-color: #ffffff;
    margin-top: auto;
}

h3{
    color:#4aaaa5;
}

main{
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    clear: both;
}

#profilePic{
    max-width: 150px;
    max-height: 300px;
    float: left;
}

.clearFix::after{
    content: "";
    display: block;
    clear: both;
}
